# =========================
# Python
# =========================
**pycache**/
*.py[cod]
*$py.class

# Compiled extensions
*.so
*.dll
!lib/*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.env/
.envs/
.venv/
env/

# Temporary CSV or logs
*.log
*.tmp

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
coverage.xml
htmlcov/
.pytest_cache/


# =========================
# Temporary CSV or logs
# =========================
*.log
*.tmp
*.csv
*.pngcl
dataset/logs/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
